<div class="row container-fluid ">
    <div class="col"></div>
    <div class="col-md-6">
        <p class="fw-bold d-flex justify-content-center  pt-4" >
            {% with ''|center:value.rating as range %}
            {% for k in range %}
                <i class="bi bi-emoji-laughing-fill theme-color m-icon" ></i>
            {% endfor %}
            {% endwith %}
            {% with ''|center:value.nonrating as range %}
            {% for k in range %}
                <i class="bi bi-emoji-neutral theme-color m-icon"></i>
            {% endfor %}
            {% endwith %}
        </p>
        <p class=" d-flex justify-content-center container-fluid"> <b>Rating : {{value.rating}}/10 </b></p>
        {% if value.rate_comment %}
            <p class=" d-flex justify-content-center "> <b>{{value.rate_comment}} </b></p>
        {% endif %}
    </div>
    <div class="col"></div>


</div>