{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block opengraph %}
    <meta content="{{page.title}}" property='og:title'/>
    {% for block in page.intro %}
        {% if block.block_type == "text" %}
            <div class="">
                <meta content="{{ block|striptags|truncatechars:80 }}" property="og:Description"/>
                
            </div>
        {% endif %}
    {% endfor %}
    
    <meta property="og:type" content= "article" />
    {% image page.feed_image width-400  as page_image %}
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{{page_image.url}}" />
{% endblock %}

{% block extra_css %}
<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
<!-- Bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

{% endblock extra_css %}

{% block body_class %}template-moviepage{% endblock %}
{% block content %}
<div class="container py-4 " >


    <div class="p-2 mb-4 bg-light text-dark rounded-3 " style="border-style: ridge">
        <h1 class="display-6 fw-bold d-flex justify-content-around ">{{ page.title }}</h1>
        
        <header class="pb-3  border-bottom"></header>
        
        <div class="container-fluid py-4 cover-text">
            <!-- INTRO TEMPLATE-->
            <div class="row">
                <!-- POSTER-->
                <div class="col-md-4 cold-sm-2  d-flex justify-content-center">
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-10">
                        {% image page.feed_image width-400 class="img-fluid" id="bar" alt="poster" %}
                      
                    </div>
                    <div class="col"></div>
                  </div>
                  
                </div>
                <!-- INTRO RATING,TEXT TEMPLATE-->
                <div class="col-md-8 col-sm-10 ">
                    <div class="card">
                        <div class="card-body">
                            
                            {% comment %} <h4 class="card-  title d-flex justify-content-center"> {{page.subject}}</h4> {% endcomment %}
                            {% for block in page.intro %}
                                    <div class="pt-2">
                                        {{ block }}
                                    </div>
                            {% endfor %} 

                            <a href="#article" class="theme-color" >
                                Read more <i class="bi bi-arrow-down-circle-fill"></i>
                            </a>
                          
                            
                        </div>
                          
                                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN ARTICLE TEMPLATE-->
            <div id="article">
                <div class="accordion " id="accordionExample">
                    {% for block in page.body %}
                    <div class="">
                        {{ block }}
                    </div>
                    {% endfor %} 
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2" style="border-style:none;">
                <a rel="nofollow noopener noreferrer" href="http://www.twitter.com/share?url=https://mayagram.com{{request.path }}" target="_blank" title="Click to share on Twitter"><i  class="fs-2 mx-2 bi theme-color bi-twitter"></i></a>
                <a rel="nofollow noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u=https://mayagram.com{{request.path }}}" target="_blank" title="Click to share on Facebook"><i class="fs-2 mx-2 bi theme-color bi-facebook"></i></a>
                <a rel="nofollow noopener noreferrer" href="https://telegram.me/share/url?url=https://mayagram.com{{request.path }}" target="_blank" title="Click to share on Telegram"><i class="fs-2 mx-2 bi theme-color bi-telegram"></i></a>
                <a rel="nofollow noopener noreferrer" href="https://wa.me/?text=https://mayagram.com{{request.path }}" target="_blank" title="Click to share on WhatsApp"><i class="fs-2 mx-2 bi theme-color bi-whatsapp"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-sm-4 col-md-8">
                <!-- AUTHOR TEMPLATE -->
                {% include "items/author.html" %}
            </div>
            <div class="col">
            </div>
        </div>
        
        
        {% include "items/tags.html" %}
         
        

    </div>

    
    <p class="d-flex justify-content-center">
        <a href="{{ page.get_parent.url }}" type="button" class="btn theme-background">
            Return to {{page.get_parent.title}}
        </a>
    </p>
</div>



    

{% endblock content%}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock extra_js %}