{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block extra_css %}
<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
<!-- Bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

{% endblock extra_css %}

{% block body_class %}template-moviepage{% endblock %}
{% block content %}
<div class="container py-4 " >


    <div class="p-2 mb-4 bg-light text-dark rounded-3 " style="border-style: ridge">
        <h1 class="display-6 fw-bold d-flex justify-content-around ">{{ page.title }}</h1>
        
        {% if page.tags.count %}
        
        <div class="row">
            <div class="col"></div>
            <div class="col-md-8">
                <div class="">
                    {% for tag in page.tags.all %}
                    {# Loop through all the existing tags #}
                    <span class="badge fs-6 bg-secondary m-2">
                        <a class="text-decoration-none text-white" href="{{ self.get_parent.url }}?tag={{ tag.slug }}">
                            {{ tag }}
                        </a>
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="col"></div>
        </div> 
        {% endif %}
        
        <header class="pb-3  border-bottom"></header>
        <div class="container-fluid py-5 cover-text">
            <div class="row">
                <div class="col-md-4 cold-sm-2  d-flex justify-content-center">
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-10">
                        {% image page.feed_image width-400 class="img-fluid" id="bar" alt="poster" %}
                      
                    </div>
                    <div class="col"></div>
                  </div>
                  
                </div>
                <div class="col-md-8 col-sm-10 ">
                    <div class="card mt-5">
                        <div class="card-body">
                          <h4 class="card-title d-flex justify-content-center"> {{page.subject}}</h4>
                          <header class="pb-1  border-bottom"></header>
                          
                          {% for block in page.intro %}
    
                                <div class="pt-2">
                                    {{ block }}
                                </div>
                          {% endfor %} 
                          <hr/>   
                          <div>Authored by <b>{{page.owner}}</b> on {{ page.date }}</div>                     
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN ARTICLE STARTS-->
            
            

            <div class="accordion mt-5" id="accordionExample">
                {% for block in page.body %}
                <div class="container-fluid">
                    {{ block }}
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>

    <h1></h1>
    <p class="meta">{{ page.date }}</p>



    <p><a href="{{ page.get_parent.url }}">Return to Movies</a></p>

{% endblock content%}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock extra_js %}