<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <p class="fw-bold d-flex justify-content-center" >
            {% with ''|center:value.rating as range %}
            {% for k in range %}
                <i class="bi bi-emoji-laughing-fill theme-color m-icon" ></i>
            {% endfor %}
            {% endwith %}
            {% with ''|center:value.nonrating as range %}
            {% for k in range %}
                <i class="bi bi-emoji-neutral theme-color m-icon"></i>
            {% endfor %}
            {% endwith %}
        </p>
        <p class="d-flex justify-content-center"> <b>Rating : {{value.rating}}/10 </b></p>
    </div>
    <div class="col"></div>


</div>