<div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{value.nospecialtitle}}">
    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{value.nospecialtitle}}" aria-expanded="true" aria-controls="collapse-{{value.nospecialtitle}}">
        {{value.title}}
        
    </button>
    </h2>
    <div id="collapse-{{value.nospecialtitle}}" class="accordion-collapse collapse show " aria-labelledby="heading-{{value.nospecialtitle}}" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        {{value.richcontent}}
    </div>
    </div>
</div>